@import "tailwindcss";

@theme {
    --font-crevv: var(--font-crevv);
    --font-ibm: var(--font-ibm);
}

/* * {
    cursor: none !important;
}

.custom-cursor {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
} */